<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include includes/head.html %>
  </head>
  <body class="appointments">

    <div class="content">
      <h1>
        <%= title %>
      </h1>

      <a class="button-primary back" href="/admin?move=back">Anterior</a>
      <a class="button-primary next" href="/admin?move=next">Próxima</a>

      <div class="interval">
        <span>
          <a href="/admin">
            <img src="images/calendar-time.png" title="Semana atual">
          </a>
          <%= intervalo %>
        </span>
      </div>
      <div class="semanario">
        <% Object.keys(appointments).forEach(function(prop) { %>
          <div class="day">
            <div class="date">
              <span><%= appointments[prop].diaSemana %></span>
              <span><%= appointments[prop].dia %></span>
            </div>

            <% if (appointments[prop].visitas.length > 0) { %>
              <% for(var i=0; i < appointments[prop].visitas.length; i++) { %>
                <div class="appointment">
                 <span class="salesperson"><%= vendedores[appointments[prop].visitas[i].vendedor] %></span><br>
                 <span class="city"><%= cidades[appointments[prop].visitas[i].cidade] %></span><br><br>
                 <span class="client"><%= appointments[prop].visitas[i].nome %></span><br>
                 <span class="info"><%= appointments[prop].visitas[i].telefone %></span><br>
                 <span class="info"><%= appointments[prop].visitas[i].email %></span><br>
                </div>
              <% } %>
            <% } else { %>
              <div class="appointment">
               <span class="info">Não há visitas agendadas para este dia</span><br>
              </div>
            <% } %>
          </div>
        <% }); %>
      </div>

    </div>

  </body>
</html>
