<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include includes/head.html %>
  </head>
  <body class="schedule">

    <% include includes/header.html %>

    <div class="content">
      <% if (success != '') { %>
        <h1>
          <%= success %>
        </h1>
        <p class="success">
          Em breve um de nossos vendedores entrará em contato para mais informações
        </p>
        <a class="button-primary" href="/">Página inicial</a>
      <% } else { %>
        <h1>
          <%= title %>
        </h1>
        <br>

        <form class="" action="/schedule" method="post">

          <% if (erro != '') { %>
            <p class="alert"><%= erro %></p>
          <% } %>

          <span>Nome</span><br>
          <input type="text" name="name" value="<%= name %>"><br>
          <br>

          <span>E-mail</span><br>
          <input type="email" name="email" value="<%= email %>"><br>
          <br>

          <span>Telefone</span><br>
          <input type="text" name="fone" value="<%= fone %>"><br>
          <br>

          <span>Cidade</span><br>
          <select class="" name="city">
            <option value="">Selecione a cidade</option>
            <% for(var i=0; i < cidades.length; i++) { %>
              <option value="<%= i %>" <% if (i == city && city != '') { %> selected <% } %> ><%= cidades[i] %></option>
            <% } %>
          </select><br>
          <br>

          <span>Data</span><br>
          <input type="date" name="date" value="<%= date %>"><br>
          <br>

          <input class="button-primary" type="submit" value="Agendar"></input>
        </form>
      <% } %>
    </div>

  </body>
</html>
